<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cricket scoring</title>
    <link rel="stylesheet" href="../index.css/style.css">
</head>
<body>
    <div id="nav_bar">
        <div id="nav-logo" ><img src="../frontend/images/nav-logo.png" alt="logo"></div>
        <a href="index.html">Home</a>
        <a href="match.html">Matches</a>
        <a href="table.html">Table</a>
        <a href="status.html">Status</a>
    </div>

    <div id="home-content">
        <h3>Status</h3>
        <div id="status-preview">status preview</div>
    </div>

</body>
</html>